# Python-related
*venv/
*.pyc
*.egg-info/
*.egg
*.eggs
build
dist/
*.retry
.coverage
htmlcov
.cache
.pytest_cache

# Log Files
*.log

# Mac OS X Files
.DS_Store

# Ansible Retry Files
*.retry

# Swap files
*.swp
*.orig
*.swo

# IDE
**.iml
# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

git

# data files
**/.data/
**/.vector_cache/
