spacy>=2.0.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
dataclasses==0.6
dataclasses-json==0.3.2
bson==0.5.8
typing_inspect
